# Development
*.map
.claude/
dist/
docs/
.editorconfig
.gitignore
.github/
biome.jsonc
commitlint.config.ts
lefthook.toml
package-lock.json
scripts/
src/
tsconfig.json
tsconfig.tsbuildinfo
tsdown.config.mts

# Package managers
node_modules/
npm-debug.log*
package-lock.json
pnpm-lock.yaml
pnpm-workspace.yaml
vendor/
yarn-error.log
yarn.lock

# Visual Studio Code
**/**.vsix
.vscode-test/**
.vscode/**
